replicaCount: 2
tls:
  certificateSecret: tfe-certs

image:
 repository: images.releases.hashicorp.com
 name: hashicorp/terraform-enterprise
 tag: 1.0.0 # refer to https://developer.hashicorp.com/terraform/enterprise/releases

serviceAccount:
  enabled: true
  name: tfe

tfe:
  privateHttpPort: 8080
  privateHttpsPort: 8443
  adminHttpsPort: 9443
  metrics:
    enable: true
    httpPort: 9090
    httpsPort: 9091

resources:
  requests:
    memory: "4096Mi"
    cpu: "1000m"

service:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "tcp"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing" # for an external LB, set to "internet-facing"
    service.beta.kubernetes.io/aws-load-balancer-subnets: "subnet-0c6e2389834fcae3e,subnet-0af81c5cd239a00d6,subnet-08bce4e97aa5c32db"
    service.beta.kubernetes.io/aws-load-balancer-security-groups: sg-09aed9fe936e85155
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
  type: LoadBalancer
  port: 443

deployment:
  annotations:
    secret.reloader.stakater.com/reload: "tfe-certs"
env:
  secretRefs:
    - name: tfe-secrets
  
  variables:
    # TFE configuration settings
    TFE_HOSTNAME: tfe-pi-new.nick-philbrook.sbx.hashidemos.io

    # Database settings
    TFE_DATABASE_HOST: new-tfe-rds-cluster-us-west-2.cluster-c1qkweyyw7o2.us-west-2.rds.amazonaws.com:5432
    TFE_DATABASE_NAME: tfe
    TFE_DATABASE_USER: tfe
    TFE_DATABASE_PARAMETERS: sslmode=require

    # Object storage settings
    TFE_OBJECT_STORAGE_TYPE: s3
    TFE_OBJECT_STORAGE_S3_BUCKET: new-tfe-app-us-west-2-590184029125
    TFE_OBJECT_STORAGE_S3_REGION: us-west-2
    TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE: true
    TFE_OBJECT_STORAGE_S3_SERVER_SIDE_ENCRYPTION: AES256

    # Redis settings
    TFE_REDIS_HOST: master.new-tfe-redis-cluster.tnjl3b.usw2.cache.amazonaws.com
    TFE_REDIS_USE_AUTH: true
    TFE_REDIS_USE_TLS: true

# This configuration adds an /etc/hosts alias on the TFE pods
# so that when they resolve tfe-pi-new.nick-philbrook.sbx.hashidemos.io
# they are directed to the internal service
# NOTE: this may not be reliable as k8s advises against modifying /etc/hosts
# manually https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/#adding-additional-entries-with-hostaliases
# This did work, but I replaced it with the work in ./coredns_configmap.yaml for cluster-local traffic
#
# See the approach for VPC-local but EKS-external in service-internal.yaml and ../r53.tf - 
#   this traffic leaves the cluster but not the VPC
# 
# extraVolumes:
#   - name: hosts-volume
#     emptyDir: {}
# initContainers:
#   - name: add-hosts
#     image: busybox:1.37
#     command:
#     - sh
#     - -c
#     - |
#       # Wait for service to exist
#       until nslookup terraform-enterprise.tfe.svc.cluster.local; do
#         echo "Waiting for service..."
#         sleep 2
#       done

#       # More reliable IP extraction using nslookup
#       SVC_IP=$(nslookup terraform-enterprise.tfe.svc.cluster.local | grep "Address:" | tail -1 | awk '{print $2}')

#       # Copy original hosts file first, then add our entry
#       cp /etc/hosts /shared/hosts
#       echo "$SVC_IP tfe-pi-new.nick-philbrook.sbx.hashidemos.io" >> /shared/hosts

#       echo "Added: $SVC_IP tfe-pi-new.nick-philbrook.sbx.hashidemos.io"
#     volumeMounts:
#       - name: hosts-volume
#         mountPath: /shared
# extraVolumeMounts:
#   - name: hosts-volume
#     mountPath: /etc/hosts
#     subPath: hosts
